*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CLASSI GENERICHE */
/* colori */
.color-pink{
    color: #e8366e;
}
.color-white{
    color: white;
}
/* background */
.background-color-black{
    background-color: #0f0e17;
}
